<h1>Index Pizza</h1>
@model List<Pizza>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img src="/img/pizza-margherita.png" class="card-img" alt="Immagine di una pizza margherita">
        <div class="card-body">
          <h5 class="card-title">Pizza margherita</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <p class="btn btn-secondary">5 €</p>
        </div>
      </div>
    </div>
  </div>
</div>